.Contenitore-Grid{
  text-align: center !important;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  .Contenitore-Bottone{
    text-align: center;
    margin-top: 1.5rem;
  }

  .Bottone{
    padding: 0.7vh 9vh 0.7vh 9vh;
    font-weight: bolder;
    font-size: 1.5em;
    background-color: #a576ff;
    color: white;
    margin-top: 2vh;
    margin-bottom: 17vh;
    border-radius: 0.7rem !important;
  }

  .rowCard{
    padding-bottom: 3rem;
  }

  

  @media screen and (max-width: 1024px) {
    .contributor_card_grid {
      transform: scale(1);
      width: 60vh;
      margin: 2rem 0;
    }
  }

  @media screen and (max-width: 420px) {
    .contributor_card_grid {
      transform: scale(1);
      width: 103%;
      margin: 2rem 0;
    }
  }
  
}