.Contenitore-Grid{

  .Contenitore-Bottone{
    text-align: center;
  }

  .Bottone{
    padding: 0.7vh 9vh 0.7vh 9vh;
    font-weight: bolder;
    font-size: 1.5em;
    background-color: #a576ff;
    color: white;
    margin-top: 2vh;
    margin-bottom: 17vh;
    border-radius: 0.7rem !important;
  }
}