.footer {
  display: block;

  color: white;

  &__links {
    border-radius: 40px 0 0 0;
    
    ul {
      margin: 0;
      font-weight: lighter;
    }

    a {
      color: white;
      font-size: 0.90rem;
    }

    h6 {
      position: relative;
      font-weight: bold;
      
      margin-bottom: 30px;

      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 60px;
        height: 2.5px;

        left: 50%;
        top: 30px;

        transform: translate(-50%, 0);

        background-color: white;
      }
    }

  }

  &__newsletter {
    text-align: left;
    
    form {
      margin: auto;
    }

    .form-control {
      border: 2px solid white;
      border-radius: 0;

      &,
      &::placeholder {
        color: white;
      }

      background-color: $secondary;

      &:focus {
        box-shadow: none;
      }
    }
  }

  &__copyright {
    background-color: white;
    color: black;
    padding: 20px;

    // Non funzia 😭
    &:nth-child(1) {
      float: left;
    }

    &:nth-child(2) {
      float: right;
      color: #898a98;
    }
  }
}
