.entra-ora-component {
	.entra-ora {
		height: 570px;
		color: white;
		padding-bottom: 50px;
	}

	.Enter-Text {
		width: 60%;
		font-size: 1.2em;
		text-align: center;
		padding-top: 200px;
		margin: 0 auto;
	}

	//Ho reso l'icona di discord un item effettivo
	.Discord-Icon {
		margin: 0 auto;
		position: relative;
		top: 75px;
		width: 150px;
		height: 150px;
	}

	.entra-ora-btn {
		margin-top: 6vh;
		text-align: center;
		border-radius: 15px;
	}

	//div per centrare il bottone
	.center {
		text-align: center;
		margin: 0 auto;
	}
}

@media screen and (min-width:0px){
	.entra-ora-btn{
		padding: 1vh 1vh 1vh 1vh !important;
		margin-top: 5vh !important;
		font-size: 35px;
		font-weight: bolder;
		border-radius: 10px !important;
	}

	.entra-ora{
		height: 600px !important;
	}
	
	.Enter-Text{
    	font-size: 18px !important;
    	padding-top: 15vh !important;
	}
}
