.entra-ora-component {
  .entra-ora {
    height: 570px;
    color: white;
    padding-bottom: 50px;
  }

  p {
    width: 60%;
    font-size: 1.2em;
    text-align: center;
    padding-top: 200px;
    margin: 0 auto;
  }

  //Ho reso l'icona di discord un item effettivo
  .Icona-Discord {
    margin: 0 auto;
    position: relative;
    top: 75px;
    width: 150px;
    height: 150px;
  }

  .entra-ora-btn {
    margin-top: 6vh;
    text-align: center;
    border-radius: 15px;
  }

  //div per centrare il bottone
  .centrare {
    text-align: center;
    margin: 0 auto;
  }
}
