* {
  font-family: 'Raleway', sans-serif;
}
.entra-ora {
  background: black; /* sostituire con background: url(...); */
  height: auto;
  color: white;
  margin-top: 200px;
  padding-bottom: 50px;
}

p {
  position: relative;
  width: 50%;
  left: 30%;
  top: -30px;
  font-size: 1.5em;
  text-align: center;
}

.entra-ora-btn {
  position: relative;
  left: 47%;
  text-align: center;
}

.icona {
  position: relative;
  max-width: 150px;
  max-height: 150px;
  border-radius: 100%;
  left: 50%;
  top:-75px;
}

@media screen and (max-width: 700px) {
  .entra-ora {
    background: black;
    height: auto;
    color: white;
    margin-top: 200px;
    text-align: center;
  }
  .entra-ora-btn {
    position: static;
    left: 0;
    text-align: center;
  }
  p {
    position: static;
    top: -30px;
    font-size: 1.5em;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 50px;
  }
  .icona {
    position: relative;
    max-width: 150px;
    max-height: 150px;
    border-radius: 100%;
    left: 0;
    top:-75px;
  }
}
