.La-Community{
  padding-top: 17vh;
  .Divisore{                                     //
    height: 0.7vh;                               //
    width: 17vh;                                 //
    background-color: black;                     //
    display: inline-block;                       //
    margin-bottom: 0.7vh                         //
  }

  .Contenitore-Titoli{                           //
    text-align: center;                          //
  }

  .Titolo{                                       //
    font-weight: bold;                           //
    text-align: center;                          //
    font-size: 2.5rem;                           //
    padding-left: 7vh;                           //
    padding-right: 7vh;                          //
  }

  //Contenitore della descrizione                //
  .Contenitore-Descrizione{                      //
    padding-top: 5vh;                            //
    padding-bottom: 5vh;                         //
    text-align: center;                          //
    margin: 0 auto;                              //
    width: 90%;                                  //
  }                                              //

  //Descrizione in sè                            //
  .Descrizione{                                  //
    font-size: 1.5em;                            //
    display: flex;                               //
    justify-content: center;                     //
  }

  .Contenitore-Membri{
    text-align: center;
    font-size: 1.5em;
  }

  .Num_Membri{
    font-size: 1.5em;
    font-weight: bolder;
  }

  .Contenitore-Bottone{
    text-align: center;
  }

  .Bottone{
    padding: 1.3vh 6vh 1.3vh 6vh;
    font-weight: bolder;
    font-size: 3em;
    background-color: #a576ff;
    color: white;
    margin-top: 5vh;
    border-radius: 0.7rem !important;
    margin-bottom: 15vh;
  }

  .Contenitore-Mappa {
    margin: 0 auto;
    .Mappa {
      border: 2px solid black;
      margin: 15vh auto 15vh;
    }
    .leaflet-marker-icon{
      content: url('../../images/map-marker-alt-solid.png') !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .La-Community {
    .Divisore {
      width: 4vh !important;
    }
    .Titolo{                                       //
      font-size: 1.5rem !important;
    }
    .Descrizione{                                  //
      font-size: 1rem !important;                            //
      display: flex !important;                               //
      justify-content: center !important;                     //
    }

    .Membri {
      font-size: 1.2rem !important;
    }

    .Num_Membri {
      font-size: 1.6rem !important;
    }

    .Bottone {
      transform: scale(.6) !important;
      font-size: 2rem !important;
    }

    .Contenitore-Mappa {
      width: 100% !important;
      .Mappa {
        margin-top: 5vh !important;
        margin-bottom: 3vh !important;
        width: 80% !important;
        height: 60vh !important;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .La-Community {
    .Divisore {
      width: 8vh;
    }
    .Titolo{                                       //
      font-size: 2rem;
    }
    .Descrizione{                                  //
      font-size: 1.4rem;                            //
      display: flex;                               //
      justify-content: center;                     //
    }

    .Membri {
      font-size: 1.6rem;
    }

    .Num_Membri {
      font-size: 1.8rem;
    }

    .Bottone {
      transform: scale(.6);
      font-size: 2rem;
    }

    .Contenitore-Mappa {
      width: 100%;
      .Mappa {
        margin-top: 5vh;
        margin-bottom: 3vh;
        width: 80% !important;
        height: 60vh !important;
      }
    }
  }
}