.main-container{
  width: 100%;
  height: 70vh;
  background-color: rgb(175, 109, 255);
}

.titolo-progetti{
  font-size: 40px;
  color: white;
  display: block;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 3rem;
  padding-top: 1rem;
}

.altri-progetti{
  text-align: end;
}

.scopri-progetti{
  font-weight: lighter;
  display: inline-block;
  padding-top: 2rem;
  padding-right: 6vh;
  text-align: end;
  color: white;
}

.scopri-progetti:hover{
  cursor: pointer;
}


