.fourofour {
    width: 100%;
    height: 100vh;
    margin: 0px 0px !important;
    background-color: #A576FF;
}

.sad {
    padding-top: 10vh;
    font-size: 10rem;
    color: white;
}

.fourofour__title {
    font-size: 2rem;
    color: white;
}

.fourofour__description {
    margin-top: 10vh;
    padding-left: 1rem;
}

.fourofour__description-text {
    color: white;
    position: relative;
    left: 1rem;
}

.fourofour__link {
    color: white;
    font-weight: bold;
    border-bottom: white 1px solid;
}

.fourofour__link:hover {
    color: white;
    font-weight: bold;
    text-decoration: none;
}