$primary: #00070F;
$secondary: #A576FF;
// $success: #65ff9f;
// $info: #7164ff;
// $warning: #ff9f65;
// $danger: #ff457b;
// $light: #f2d4ff;
// $dark: #18181d; 


$font-family-base: "Raleway", sans-serif;

