@import '../../styles/_variables.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.TextAndPhotoHomeSection {
    width: 100%;
    height: auto;
    padding-bottom: 3rem;
    color: white;
    background-color: #00070f;
    overflow: hidden;

    @include media-breakpoint-up(lg) {
        padding-top: 2rem;
    }
    
    @include media-breakpoint-up(xl) {
        padding-top: 4rem;
        padding-bottom: 0;
    }

    .textContainer {
        padding: 0 2rem;

        @include media-breakpoint-up(sm) {
            padding: 0 4rem;
        }
    
        @include media-breakpoint-up(xl) {
            padding: 0 6rem;
        }

        @include media-breakpoint-up(xxl) {
            padding: 0 8rem;
        }

        .title {
            font-size: $tap-fs-title-mobile;
            line-height: $tap-lh-title-mobile;
            font-weight: bold;
            margin-bottom: 20px;

            @include media-breakpoint-up(md) {
                font-size: $tap-fs-title-tablet;
                line-height: $tap-lh-title-tablet;
            }

            @include media-breakpoint-up(xl) {
                font-size: $tap-fs-title-desktop;
                line-height: $tap-lh-title-desktop;
            }
        }
        
        .description {
            font-size: $tap-fs-text-mobile;
            line-height: $tap-lh-text-mobile;

            @include media-breakpoint-up(md) {
                font-size: $tap-fs-text-tablet;
                line-height: $tap-lh-text-tablet;
            }

            @include media-breakpoint-up(xl) {
                font-size: $tap-fs-text-desktop;
                line-height: $tap-lh-text-desktop;
            }
        }
        
        .linkContainer {
            text-align: right;
            color: #a576ff;
            position: relative;
            top: 20px;
            right: 0;
            font-size: $tap-fs-text-mobile;
            line-height: $tap-lh-text-mobile;

            @include media-breakpoint-up(md) {
                font-size: $tap-fs-text-tablet;
                line-height: $tap-lh-text-tablet;
            }

            @include media-breakpoint-up(xl) {
                font-size: $tap-fs-text-desktop;
                line-height: $tap-lh-text-desktop;
            }
        }
    }

    .imgContainer {
        @include media-breakpoint-down(sm) {
            display: none;
        }

        .img {
            width: 100%;
            height: auto;
            clip-path: polygon(0% 15%, 5% 0%, 100% 0%, 100% 100%, 0% 100%);
            opacity: 1;
        }
    }
}