// classe per la sezione globale
.containerSection {
    color: white;
    padding: 10vh 0;
    background-color: #00070f;
    height: 70vh;
    width: 100%;
    overflow: hidden;
    margin-bottom: 10vh !important;
}

// classe scritta coding bunker
.title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

// classe testo sotto coding bunker
.description {
    font-size: 1rem;
}

// classe foto figa
.img {
    width: 100vh;
    margin: 0;
    clip-path: polygon(0% 15%, 5% 0%, 100% 0%, 100% 100%, 0% 100%);
}

// container per la foto
.imgContainer {
    text-align: right;
}



.linkContainer {
    text-align: right;
    font-size: 1.2rem;
    color: #a576ff;
    position: relative;
    top: 20px;
    right: 5vh;
}

.link {
    display: inline-block;
}

.textContainer {
    padding-top: 10vh;
    padding-right: 5vh;
    padding-left: 20vh;
}

// telefono
@media screen and (max-width: 420px) {
    .containerSection {
        padding: 1rem;
    }

    .textContainer {
        padding: 2rem;
        width: 200%;
    }

    .imgContainer {
        display: none;
    }

    .containerText {
        width: 90%;
    }

    .containerSection {
        height: auto;
    }
}

// ipad pro
@media screen and (max-width: 1024px) {
    .containerSection {
        padding: 5rem 0;
        height: auto;
    }
    
    .textContainer {
        padding-left: 4rem;
        padding-top: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }
}

// ipad
@media screen and (max-width: 768px) {
    .containerSection {
        margin-bottom: 0vh;
        padding: 5rem 0;
        height: auto;
    }
    
    .textContainer {
        padding-left: 3rem;
        padding-top: 2rem;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    .img {
        margin-top: 2.5rem;
    }
}
