.container-WhyEnter{

    margin-left: 27vh;
    margin-right: 27vh;
    .container-text{
      margin-top: 2vh;
    }
  
    .title{
      font-size: 36px;
      font-weight: bold;
      color: #A576FF;
    }
  
    .description{
      font-size: 20px;
      margin-top: 2vh;
    }
}  