@import '../../styles/_variables.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

// Heading's font-sizes and line-heights
$h-fs-title-mobile: 22px;
$h-lh-title-mobile: 30px;
$h-fs-title-tablet: 28px;
$h-lh-title-tablet: 36px;
$h-fs-title-desktop: 34px;
$h-lh-title-desktop: 42px;

$h-fs-text-mobile: 12px;
$h-lh-text-mobile: 20px;
$h-fs-text-tablet: 16px;
$h-lh-text-tablet: 24px;
$h-fs-text-desktop: 20px;
$h-lh-text-desktop: 28px;

.Heading {
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;

        .line {
            height: 8px;
            width: 90px;
            background-color: #000000;
            display: inline-block;
            margin-bottom: 5px;
        
            @include media-breakpoint-down(md) {
                height: 4px;
                width: 45px;
                margin-bottom: 2.5px;
            }
        }
        
        .text {
            cursor: default;
            font-weight: bold;
            text-align: center;
            padding-left: 25px;
            padding-right: 25px;
            font-size: $h-fs-title-mobile;
            line-height: $h-lh-title-mobile;
        
            @include media-breakpoint-up(sm) {
                font-size: $h-fs-title-tablet;
                line-height: $h-lh-title-tablet;
            }
        
            @include media-breakpoint-up(md) {
                padding-left: 50px;
                padding-right: 50px;
            }
        
            @include media-breakpoint-up(lg) {
                font-size: $h-fs-title-desktop;
                line-height: $h-lh-title-desktop;
            }
        }
    }
    
    .subtitle {
        text-align: center;
        font-size: $h-fs-text-mobile;
        line-height: $h-lh-text-mobile;
        padding: 1rem 1rem 0 1rem;
    
        @include media-breakpoint-up(sm) {
            font-size: $h-fs-text-tablet;
            line-height: $h-lh-text-tablet;
        }

        @include media-breakpoint-up(md) {
            width: 75%;
            margin: 0 auto;
        }
    
        @include media-breakpoint-up(lg) {
            font-size: $h-fs-text-desktop;
            line-height: $h-lh-text-desktop;
        }
    }
}