//Titolo (chi siamo)
.chi-siamo {
  h1{
    display: block;
    font-weight: bold;
    padding-top: 5vh;
    color: #A576FF;
    padding-bottom: 4vh;
  }

  //Testo
  p{
    font-size: 1.5em;
  }

  //contenitore che racchiude tutto il testo
  .contenitore-testo{
    padding-left: 10vh;
    padding-bottom: 10vh;
    padding-right: 80vh;
  }

  .background-section{
    width: 100%;
  }

}

@media screen and (max-width: 600px) {
  .chi-siamo {
    h1 {
      font-size: 1.7rem !important;
      padding-bottom: 1vh !important;
    }

    //Testo
    p{
      font-size: 1rem !important;
    }


    .contenitore-testo{
      padding-left: 3vh !important;
      padding-bottom: 10vh !important;
      padding-right: 8vh !important;
    }

    .background-section{
      transform: scale(2) !important;
      margin-top: 5vh !important;
    }

    .background-container {
      overflow: hidden !important;
      height: 20vh !important;
    }
  }
}

@media screen and (max-width: 1200px) {
  .chi-siamo {
    h1 {
      font-size: 1.7rem;
      padding-bottom: 1vh;
    }

    //Testo
    p{
      font-size: 1rem;
    }


    .contenitore-testo{
      padding-left: 3vh;
      padding-bottom: 10vh;
      padding-right: 35vh;
    }


  }
}
