//Titolo (chi siamo)
.chi-siamo {
  h5{
    display: block;
    font-weight: bold;
    font-size: 40px;
    padding-top: 5vh;
    padding-bottom: 4vh;
  }

  //Testo
  p{
    font-size: 20px;
    padding-bottom: 2vh;
  }

  //contenitore che racchiude tutto il testo
  .contenitore-testo{
    padding-left: 10vh;
    padding-bottom: 10vh;
  }
}


