@import '../../styles/_variables.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.Azienda {

    .imgContainer {
        text-align: center;
        margin: 2rem 0;

        @include media-breakpoint-up(sm) {
            margin: 4rem;
        }

        .column {
            height: 75px;

            @include media-breakpoint-up(md) {
                height: 150px;
            }

            img {
                width: 200px;
                opacity: 0.5;
                transition: 0.2s;
        
                @include media-breakpoint-up(sm) {
                    width: 300px;
                }
            }
            
            img:hover {
                opacity: 1;
            }
        }
    }

    .button {
        margin-top: 1em;
        margin-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: center;

        .diventaPartner {
            background-color: #A576FF;
            font-size: 1.25rem;
            font-weight: bold;
            border-color: #A576FF;
        }
    }
}