@import '../../styles/variables';

@media screen and (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}


.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #A576FF;
  padding-left: 0.30em;
  position: sticky;
  pointer-events: all;
  top: calc(100vh - 5rem);
  z-index: 1000;
  transition: background-color .3s, opacity .5s, visibility .5s;
  @media screen and (max-width: 760px){
    font-size: 1.3rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
  }
}

$scrollLength: 100vh;

.back-to-top-wrapper {
  position: absolute;
  top: $scrollLength;
  left: 2.2rem;
  bottom: -20em;
  width: 3em;
  pointer-events: none;
  @media screen and (max-width: 760px){
    bottom: -46em;
    left: 0.3rem;
  }

}

#ArrowUp{
  color: white;
  height: 65%;
  padding-bottom: 0.15em;
}


main {
  position: relative;
}