@import '../../styles/variables';

$distance-links: 1.6em;
$vertical-spacing: 0.5em;

$lg-breakpoint: 62em;

.navbar.navbar-dark {
	font-size: 0.9em;
	background-color: #111111;

	#entra-nel-bunker{
		background-color: #A576FF;
		font-size: 1.4375em;
		font-weight: bold;
		padding-left: 1.25em;
		padding-right: 1.25em;
	}


	.navbar-toggler {
		border: none;
		outline: none;
	}
	.nav-container {
		@media screen and (min-width: $lg-breakpoint) {
			padding-top: $vertical-spacing;
			padding-bottom: $vertical-spacing;
		}
		.navbar-nav {
			.nav-link {
				color: white;
				padding-left: $distance-links;
				padding-right: $distance-links;
			}
			&.links {
				@media screen and (max-width: $lg-breakpoint) {
					margin-bottom: 1.25em;
					font-size: 1.6875em;
					text-align: center;
				}
			}
		}
	}
	@media screen and (max-width: $lg-breakpoint) {
		padding: 0.9em 1em;
		text-align: center;
	}
}
