@import '../../styles/variables';

$distance-links: 1.6em;
$vertical-spacing: 0.5em;

$lg-breakpoint: 992px;

.navbar.navbar-dark {
	font-size: 0.9em;

	.navbar-toggler {
		border: none;
		color: white;
		outline: none;
	}
	.nav-container {
		@media screen and (min-width: $lg-breakpoint) {
			padding-top: $vertical-spacing;
			padding-bottom: $vertical-spacing;
		
		}
		.navbar-nav {
			.nav-link {
				color: white;
				padding-left: $distance-links;
				padding-right: $distance-links;
			}
			&.links {
                                & > *:last-child {
                                        border: 2px solid white;
				}
				
				@media screen and (max-width: $lg-breakpoint) {
					margin-bottom: 20px;
				}
                        }
			&.link-buttons {
                                flex-direction: row;

				& > * {
					margin-right: 20px;

					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	@media screen and (max-width: $lg-breakpoint) {
		padding: 0.9em 1em;
	}
}
