@import "../styles/style.scss";

// classe che gestisce il componente in se
.containerCard {
    border: .1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: inline-block;
    transition: .2s all;
    width: 65vh;
    border-radius: 20px;
    text-align: center;
}

// Allarghiamo il componente a tutto schermo nel caso in cui stiamo da telefono
@media screen and (max-width: 420px) {
    .containerCard {
        width: 100%;
    }
}

// Animazione per il componente quando ci si passa sopra con il mouse
.containerCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

// Classe contentente il nome dell'utente
.name {
    margin-top: 20px;
    font-weight: bold;
}

// Classe contenente la specializzazione dell'utente
.expert {
    color: #9d9d9d;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: .9rem;
}


// Classe che contiene il ruolo su discord e la descrizione
.discordContainer {
    border-radius: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 30px;
}


// Classe che contiene il ruolo che l'utente ha su discord
.discordTitle {
    
    padding-bottom: 20px;
    font-size:  .9rem;
    font-weight: bold;
}


// Classe che contiene la descrizione dell'utente
.discordDescription {
    font-size: .6rem;
    padding: 0 10%;
}