@import "../styles/style.scss";

// classe che gestisce il componente in se
.containerCard {
    border: .1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: inline-block;
    transition: .2s all;
    width: 65vh;
    border-radius: 0px 0px 20px 20px;
}

// Allarghiamo il componente a tutto schermo nel caso in cui stiamo da telefono
@media screen and (max-width: 420px) {
    .containerCard {
        width: 100%;
    }
}

// Animazione per il componente quando ci si passa sopra con il mouse
.containerCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

// Div che contiene la foto
.imgContainer {
    height: auto;
    width: auto;
    
}

// Classe che gestisce la foto
.img {
    margin: 0;
    width: 100%;
}

// Div che contiene il calendario
.calendarContainer{
    display: inline-block;
    text-align: center;
    padding: 3% 0;
    width: 24%;
    background-color: $secondary;
    border-radius: 0px 0px 0px 20px;
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

// Classe che gestisce il mese
.month {
    font-size: 1rem;
    position: relative;
    top: 5px;
    
}

// Classe che gestisce il giorno
.day {
    font-size: 2rem;
    position: relative;
    bottom: 5px;
}

// Div che contiene tutta la descrizione dell'evento
.descriptionContainer {
    display: inline-block;
    padding: 0 15px;
    width: 76%;
    height: 12%;
    position: relative;
    bottom: 10px;
}

// Classe che gestisce il titolo dell'evento
.title {
    font-weight: bold;
    font-size: 1rem;
}

@media screen and (max-width: 420px) {
    .title {
        font-size: .75rem;
    }
}

// Classe che gestisce la descrizione dell'evento
.description {
    position: relative;
    top: 10px;
    font-size: .6rem;
    display: block;
}
