@import "../styles/style.scss";

img {
    margin: 0 auto;
}

// classe globale del componente
.component {
    display: inline-block;
    transition: all .2s;
}

// Animazione per il componente quando ci si passa sopra con il mouse
.component:hover {
    transform: translateY(-3px);
}

// classe contiene tutto tranne la foto del profilo
.containerCard {
    border: .1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: inline-block;
    transition: .2s all;
    width: 65vh;
    border-radius: 0px 0px 20px 20px;
    text-align: center;
    margin-top: -20vh;
    
}

// Allarghiamo il componente a tutto schermo nel caso in cui stiamo da telefono
@media screen and (max-width: 420px) {
    .containerCard {
        width: 100%;
    }
}



// Div che contiene lo sfondo
.imgBackground {
    background-image: url("../images/cb.png");
    height: 18vh;
    background-position: center;
    background-size: cover;
}

// foto del profilo
.profilePic {
    border: 7px solid $secondary;
    border-radius: 2000px;
    width: 22vh;
    position: relative;
}

// container della foto del profilo
.profilePicContainer {
    text-align: center;
    width: 65vh;
}

// Div che contiene il nome e la descrizione dello staff
.descriptionContainer {
    box-shadow: 0px 0px 10px 8px rgba(0,0,0,.2);
    display: inline-block;
    padding: 30px 30px;
    width: 100%;
    height: 12%;
    background-color: #111111;
    color: #fff;
    border-radius: 0px 0px 20px 20px;
}

// Classe che gestisce il nome dello staff
.name {
    font-weight: bold;
    font-size: 1rem;
    position: relative;
    bottom: 10px;
}

@media screen and (max-width: 420px) {
    .title {
        font-size: .75rem;
    }
}

// Classe che gestisce la descrizione dello staff   
.description {
    position: relative;
    font-size: .6rem;
    display: block;
}