@import "../../styles/style.scss";

// classe che gestisce il componente in se
.containerCard {
    border: .1px solid rgba(0,0,0,.1);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    display: inline-block;
    transition: .2s all;
    width: 60vh;
    border-radius: 20px;
    text-align: center;
    height: 250px;
}


// Animazione per il componente quando ci si passa sopra con il mouse
.containerCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

// Classe contentente il nome dell'utente
.name {
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.5rem;
}

.description {
    font-size: .8rem;
}

.profilePic {
    margin-top: 30px;
    width: 100vh;
    border-radius: 200px;
    border: 4px white solid;
}

.coso {
    height: 100%;
}

.left {
    text-align: center;
    border-radius: 20px 0 0 20px;
    height: 100%;
}

.user {
    text-transform: uppercase;
    font-size: .7rem;
    color: white;
    background-color: rgba(0,0,0,.2);
    border-radius: 200px;
    margin-top: 20px;
}
