@import '../../styles/style.scss';

// classe che gestisce il componente in se
.containerCard {
	border: 0.1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: inline-block;
	transition: 0.2s all;
	width: 100%;
	border-radius: 20px;
	text-align: center;
	height: 250px;
}

// Animazione per il componente quando ci si passa sopra con il mouse
.containerCard:hover {
	transform: translateY(-3px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

// Classe contentente il nome dell'utente
.name {
	padding-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 1.5rem;
}

.description {
	font-size: 0.8rem;
	transition: 0.2s all;
}

.profilePic {
	margin-top: 30px;
	width: 100vh;
	border-radius: 200px;
	border: 4px white solid;
}

.coso {
	height: 100%;
}

.left {
	text-align: center;
	border-radius: 20px 0 0 20px;
	height: 100%;
	width: 23%;
}

.user {
	text-transform: uppercase;
	font-size: 0.7rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 200px;
	margin-top: 20px;
}

.right {
	width: 75%;
}

.other {
	opacity: 0;
	transition: 0.2s all;
	font-size: 0.8rem;
	color: rgba(255, 255, 255, 0.7);
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	position: relative;
	bottom: 1.3rem;
}

.right:hover .other {
	opacity: 1;
}

.right:hover .description {
	opacity: 0;
}

@media screen and (max-width: 420px) {
	.containerCard {
		width: 100%;
	}

	.left {
		width: 33%;
	}

	.right {
		width: 65%;
	}
}
