@import '../../styles/_variables.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.WhyEnterContainer {
	margin: 6rem 3rem;
	text-align: justify;

	@include media-breakpoint-down(sm) {
		margin: 3rem 1.5rem;
	}

	.TextContainer {
		width: 100%;
	}

	.ImageContainer {
		.Skater {
			object-fit: cover;
		}
	}

	.Title {
		font-weight: bold;
		color: #a576ff;
		font-size: $eo-font-size-titles-mobile;
		line-height: $eo-line-height-titles-mobile;

		@include media-breakpoint-up(sm) {
			font-size: $eo-font-size-titles-tablet;
			line-height: $eo-line-height-titles-tablet;
		}

		@include media-breakpoint-up(lg) {
			font-size: $eo-font-size-titles-desktop;
			line-height: $eo-line-height-titles-desktop;
		}
	}

	.Description {
		margin-top: 2vh;
		font-size: $eo-font-size-texts-mobile;
		line-height: $eo-line-height-texts-mobile;

		@include media-breakpoint-up(sm) {
			font-size: $eo-font-size-texts-tablet;
			line-height: $eo-line-height-texts-tablet;
		}

		@include media-breakpoint-up(lg) {
			font-size: $eo-font-size-texts-desktop;
			line-height: $eo-line-height-texts-desktop;
		}
	}
}
