@import '../../styles/_variables.scss';
@import '~bootstrap/scss/_functions.scss';
@import '~bootstrap/scss/_variables.scss';
@import '~bootstrap/scss/mixins/_breakpoints.scss';

.container {
	overflow: hidden;
}

.left {
	background-color: #36393f;
	text-align: center;

	.discord {
		margin: 2rem;
	}

	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.right {
	background-color: #7289da;
	text-align: center;
	color: white;

	.img {
		width: 4rem;
		margin-top: 5rem;
		margin-bottom: 2rem;
	}

	.text {
		font-size: $eo-font-size-texts-mobile;
		line-height: $eo-line-height-texts-mobile;
		margin: 0 3rem;

		@include media-breakpoint-up(sm) {
			font-size: $eo-font-size-texts-tablet;
			line-height: $eo-line-height-texts-tablet;
		}

		@include media-breakpoint-up(lg) {
			font-size: $eo-font-size-texts-desktop;
			line-height: $eo-line-height-texts-desktop;
		}
	}

	.btn {
		font-size: $eo-font-size-titles-mobile;
		line-height: $eo-line-height-titles-mobile;
		padding: 0.5rem 1rem !important;

		@include media-breakpoint-up(sm) {
			font-size: $eo-font-size-titles-tablet;
			line-height: $eo-line-height-titles-tablet;
		}

		@include media-breakpoint-up(lg) {
			font-size: $eo-font-size-titles-desktop;
			line-height: $eo-line-height-titles-desktop;
		}

		@include media-breakpoint-down(xl) {
			margin-bottom: 5rem;
		}
	}
}
