{
  "arrowParens": "avoid",
  "semi": true,
  "tabWidth": 2,
  "useTabs": true,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "printWidth": 100,
  "trailingComma": "all",
  "singleQuote": true
}