.scrollable {
  //Spazio tra elemento
  padding-left: 3em;
  padding-top: 10vh;
  padding-bottom: 13vh;

  //linea a dx e sx del titolo
  .linea {
    height: 1vh;
    width: 15vh;
    background-color: black;
    display: inline-block;
    vertical-align: center;
  }

  //titolo componente
  .titolo {
    cursor: default;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    padding-left: 7vh;
    padding-right: 7vh;
  }

  //sottotitolo del componente
  .sottotitolo {
    cursor: default;
    font-size: 25px;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-top: 1em;
  }

  .intestazione {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  //sezione carte (comprende tutto)
  .card-list{
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
  }

  .card-list::-webkit-scrollbar{
    width: 10px;
    height: 10px;
  }
  .card-list::-webkit-scrollbar-thumb{
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
  }
}
