
//Titolo
.Titolo{
  font-weight: bold;
  color: rgba(161,115,249,1);
  font-size: 32px;
}

//sottotitolo
span{
  font-weight: bold;
  color: rgba(161,115,249,1);
  padding-left: 10px;
}

//Descrizione Scritta
p{
  color: black;
  padding-top: 1rem;
  font-weight: 500;
  font-size: 18px;
}

@media only screen and (max-width: 576px) {
  span{
    display: block;
    text-align: center;
  }
}