* {
  font-family: 'Raleway', sans-serif;
}

.entra-ora {
  .main {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .plugin-discord {
    background-color: #36393F;
  }

  .plugin-discord iframe {
    position: absolute;
    left: 100px;
    top: 50px;
  }

  .call-to-action {
    background-color: #7289DA;
    display: flex;
    flex-direction: column;
  }

  .call-to-action img {
    width: 100px;
    height: 100px;
  }

  .logo {
    align-self: center;
    margin: 5em 0 1em 0;
  }

  .call-to-action p {
    text-align: center;
    font-size: 25px;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    margin: 0 2em 0 2em;
  }

  .call-to-action button {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #111111;
    opacity: 1;
    border-radius: 10px;
    padding: 0.3em 1em;
    background-color: white;
    border: none;
    width: 40%;
    align-self: center;
    margin: 1em 0 3em 0;
  }

  .perche-entrare {
    display: grid;
    grid-template-columns: 70% 30%;
    margin: 10em 0;
  }

  .annunci {
    width: 100%;
  }

  .testo {
    display: block;
    margin-left: 4em;
  }

  .testo h1 {
    color: #A576FF;
    font-weight: bold;
  }

  .testo p {
    font-size: 1.2em;
  }

  .linea {
    height: 1vh;
    width: 15vh;
    background-color: black;
    display: inline-block;
    margin-bottom: 0.7vh
  }
  
  .titolo {
    cursor: default;
    font-weight: bold;
    text-align: center;
    font-size: 35px;
    padding-left: 7vh;
    padding-right: 7vh;
  }

  .intestazione {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sottotitolo {
    text-align: center;
    width: 60%;
    margin: 0 auto;
    padding: 2em 0 4em 0;
  }

  .immagini {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 4em;
  }

  .didascalia {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-align: center;
  }

  .annunci .testo {
    text-align: center;
    width: 60%;
    margin: 0 auto;
  }

  .annunci button {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    letter-spacing: 0px;
    color:white;
    border-radius: 10px;
    padding: 0.3em 1em;
    background-color:#A576FF;
    border: none;
    width: 30%;
    position: relative;
    left: 35%;
    margin: 3em 0;
  }
}